:root {
    --main-bg-color: #E84010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokedex {
    width: 900px;
    height: 800px;
    margin: 100px auto;
    padding: 50px;
    background-color: var(--main-bg-color);
    border-radius: 10px;
}

h1 {
    color: #f2f2f2 !important;
    font-family: 'Lalezar', cursive;
}
h1:hover {
    text-shadow:2px 2px 8px aquamarine !important;
}

.search {
    font-size: 1.75em;
}

.input {
    background-color: #FF7045;
    color: #fff;
    border: none
}

.input:hover,
.input:focus {
    box-shadow: 0 0 4px 10px aquamarine;
    text-shadow: 1px 1px 0.002      px aquamarine !important;

.move {
    display: flex;
    flex-wrap: wrap;
}

li {

}