
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: url(./img/pokemonachtergrond.jpg);
}

.pokedex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .5fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid aqua;
    width: 745px;
    height: 600px;
    margin: 50px auto;
    background: url(./img/pockedex.png) bottom left no-repeat;
    border-radius: 10px;
}

h1, .search {
    display: inline-block;
}

h1 {
    margin-top: 15px;
    width: 30%;
    margin-left: 30px;
    color: #0f0f0f;
}

.search {
    float: right;
    position: relative;
    right: 0;
}

.input {
    font-size: 0.8em;
    padding: 12px 60px 40px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-left: 60%;
    height: 15%; */
    /* width: 20%; */
    background-color: #fafafa;
    color: #0f0f0f;
    border: none
}

.input:hover, .input:focus {
    /* box-shadow: 0 0 10px 5px aquamarine; */
    /* stext-shadow: 1px 1px 0.00002px aquamarine !important; */
}

h1:hover {
    text-shadow: 2px 2px 8px aquamarine !important;
}

.move {
    display: flex;
    flex-wrap: wrap;
}